NetBeansProjects/BuenosAires.Cliente/xml-resources/web-service-references/WsAnwo/wsdl/localhost_8080/WebServicesAnwo/WsAnwo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservicesanwo.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservicesanwo.mycompany.com/" name="WsAnwo">
<types>
<xsd:schema>
<xsd:import namespace="http://webservicesanwo.mycompany.com/" schemaLocation="http://localhost:8080/WebServicesAnwo/WsAnwo?xsd=1"/>
</xsd:schema>
</types>
<message name="ReservarProducto">
<part name="parameters" element="tns:ReservarProducto"/>
</message>
<message name="ReservarProductoResponse">
<part name="parameters" element="tns:ReservarProductoResponse"/>
</message>
<message name="ConsultarProductosDisponibles">
<part name="parameters" element="tns:ConsultarProductosDisponibles"/>
</message>
<message name="ConsultarProductosDisponiblesResponse">
<part name="parameters" element="tns:ConsultarProductosDisponiblesResponse"/>
</message>
<message name="ConsultarProductos">
<part name="parameters" element="tns:ConsultarProductos"/>
</message>
<message name="ConsultarProductosResponse">
<part name="parameters" element="tns:ConsultarProductosResponse"/>
</message>
<portType name="WsAnwo">
<operation name="ReservarProducto">
<input wsam:Action="http://webservicesanwo.mycompany.com/WsAnwo/ReservarProductoRequest" message="tns:ReservarProducto"/>
<output wsam:Action="http://webservicesanwo.mycompany.com/WsAnwo/ReservarProductoResponse" message="tns:ReservarProductoResponse"/>
</operation>
<operation name="ConsultarProductosDisponibles">
<input wsam:Action="http://webservicesanwo.mycompany.com/WsAnwo/ConsultarProductosDisponiblesRequest" message="tns:ConsultarProductosDisponibles"/>
<output wsam:Action="http://webservicesanwo.mycompany.com/WsAnwo/ConsultarProductosDisponiblesResponse" message="tns:ConsultarProductosDisponiblesResponse"/>
</operation>
<operation name="ConsultarProductos">
<input wsam:Action="http://webservicesanwo.mycompany.com/WsAnwo/ConsultarProductosRequest" message="tns:ConsultarProductos"/>
<output wsam:Action="http://webservicesanwo.mycompany.com/WsAnwo/ConsultarProductosResponse" message="tns:ConsultarProductosResponse"/>
</operation>
</portType>
<binding name="WsAnwoPortBinding" type="tns:WsAnwo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ReservarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarProductosDisponibles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsAnwo">
<port name="WsAnwoPort" binding="tns:WsAnwoPortBinding">
<soap:address location="http://localhost:8080/WebServicesAnwo/WsAnwo"/>
</port>
</service>
</definitions>